body {
    scale: 80%;
    background-image: url("../images/coolBackground.gif");
    color: #c92b71;
    font-size: 40px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

* {
    box-sizing: border-box;
}

.box {
    margin: 20px 80px;
    border: 1px solid rgba(208, 252, 217, 0.6);
    border-radius: 10px;
    background-color: rgba(252, 208, 243, 0.6);
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.fumos {
    display: flex;
}

.row {
    flex: 25%;
    padding: 20px;
}

.footer {
    display: grid;
    margin: 20px 80px;
    align-content: center;
}

.fumo-text {
    font-size: 90px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-image: url("../images/logo4-ebay.gif");
    background-repeat: no-repeat;
    background-size: 115px 80px;
    width: 115px;
    height: 80px;
    border: 2px solid #c92b71;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */

@media (max-width: 1024px) {
    body {
        scale: 100%;
    }

    .fumos .row {
        display: grid;
        grid-auto-flow: column;
        gap: 4px;
        align-items: center;
        justify-items: center;
        width: 50%;
    }

    img {
        max-width: 80%;
        height: auto;
    }
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

