body {
    background-image: url("../images/coolBackground.gif");
    color: #c92b71;
    font-size: 40px;
}

.fumo-text {
    font-size: 90px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.box {
    margin: 50px 250px;
    border: 1px solid rgba(208, 252, 217, 0.6);
    border-radius: 10px;
    background-color: rgba(252, 208, 243, 0.6);
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.fumos {
    display: flex;
}

.row {
    flex: 25%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex-container {
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}


.footer {
    display: grid;
    margin: 20px 80px;
    align-content: center;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.2);
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-image: url("../images/logo4-ebay.gif");
    background-repeat: no-repeat;
    background-size: 115px 50px;
    width: 119px;
    height: 50px;
    border: 2px solid #c92b71;
}

.buttons {
    flex: 25%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



img {
    height: 100%;
    width: 100%;
}

.footer-content {
    display: grid;
    grid-auto-flow: column;
    place-items: start center;
}

@media screen and (min-width: 425px) {

    .box {
        margin: 30px 10px;
    }

    .fumos {
        flex-direction: column;
    }

    .flex-container {
        display: table;
    }

}

@media screen and (min-width: 768px) {
    .fumos {
        flex-direction: column;
    }

    .flex-container {
        display: table;
    }

}

@media screen and (min-width: 1024px) {

    .box {
        margin: 30px 100px;
    }

    .fumos {
        flex-direction: row;
    }

    .flex-container {
        display: flex;
    }

}