body {
    background-image: url("images/coolBackground.gif");
    color: #c92b71;
}

img {

}

* {
    box-sizing: border-box;
}

.box {
    margin: 20px 80px;
    border: 1px solid rgba(208, 252, 217, 0.6);
    border-radius: 10px;
    background-color: rgba(252, 208, 243, 0.6);
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.fumos {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
}

.footer {
    display: grid;
    margin: 20px 80px;
    align-content: center;
}

.zoom {
    transition: transform .5s;
}

.zoom:hover {
    transform: scale(1.2);
}